In [4]:
import pandas as pd
df = pd.read_csv("automobileEDA.csv")
df.head()

,symboling,normalized-losses,make,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,...,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km,horsepower-binned,diesel,gas
0,3,122,alfa-romero,std,two,convertible,rwd,front,88.6,0.811148,...,9.0,111.0,5000.0,21,27,13495.0,11.190476,Medium,0,1
1,3,122,alfa-romero,std,two,convertible,rwd,front,88.6,0.811148,...,9.0,111.0,5000.0,21,27,16500.0,11.190476,Medium,0,1
2,1,122,alfa-romero,std,two,hatchback,rwd,front,94.5,0.822681,...,9.0,154.0,5000.0,19,26,16500.0,12.368421,Medium,0,1
3,2,164,audi,std,four,sedan,fwd,front,99.8,0.848630,...,10.0,102.0,5500.0,24,30,13950.0,9.791667,Medium,0,1
4,2,164,audi,std,four,sedan,4wd,front,99.4,0.848630,...,8.0,115.0,5500.0,18,22,17450.0,13.055556,Medium,0,1

In [6]:
df.groupby('body-style')

In [7]:
df.groupby('body-style').groups.keys()

dict_keys(['convertible', 'hardtop', 'hatchback', 'sedan', 'wagon'])

In [8]:
# Group the dataset by the column body-style
style = df.groupby('body-style')
# Get values items from group with value convertible
style.get_group("convertible")

,symboling,normalized-losses,make,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,...,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km,horsepower-binned,diesel,gas
0,3,122,alfa-romero,std,two,convertible,rwd,front,88.6,0.811148,...,9.0,111.0,5000.0,21,27,13495.0,11.190476,Medium,0,1
1,3,122,alfa-romero,std,two,convertible,rwd,front,88.6,0.811148,...,9.0,111.0,5000.0,21,27,16500.0,11.190476,Medium,0,1
69,3,142,mercedes-benz,std,two,convertible,rwd,front,96.6,0.866410,...,8.3,155.0,4750.0,16,18,35056.0,14.687500,Medium,0,1
125,3,122,porsche,std,two,convertible,rwd,rear,89.5,0.811629,...,9.5,207.0,5900.0,17,25,37028.0,13.823529,High,0,1
168,2,134,toyota,std,two,convertible,rwd,front,98.4,0.846708,...,9.3,116.0,4800.0,24,30,17669.0,9.791667,Medium,0,1
185,3,122,volkswagen,std,two,convertible,fwd,front,94.5,0.765497,...,8.5,90.0,5500.0,24,29,11595.0,9.791667,Low,0,1

In [9]:
double_grouping = df.groupby(["body-style","drive-wheels"])
double_grouping.first()

                          symboling  normalized-losses           make  \
body-style  drive-wheels
convertible fwd                   3                122     volkswagen
            rwd                   3                122    alfa-romero
hardtop     fwd                   2                168         nissan
            rwd                   0                 93  mercedes-benz
hatchback   4wd                   2                 83         subaru
            fwd                   2                121      chevrolet
            rwd                   1                122    alfa-romero
sedan       4wd                   2                164           audi
            fwd                   2                164           audi
            rwd                   2                192            bmw
wagon       4wd                   0                 85         subaru
            fwd                   1                122           audi
            rwd                  -1                 93  mercedes-benz

                         aspiration num-of-doors engine-location  wheel-base  \
body-style  drive-wheels
convertible fwd                 std          two           front        94.5
            rwd                 std          two           front        88.6
hardtop     fwd                 std          two           front        95.1
            rwd               turbo          two           front       106.7
hatchback   4wd                 std          two           front        93.3
            fwd                 std          two           front        88.4
            rwd                 std          two           front        94.5
sedan       4wd                 std         four           front        99.4
            fwd                 std         four           front        99.8
            rwd                 std          two           front       101.2
wagon       4wd                 std         four           front        96.9
            fwd                 std         four           front       105.8
            rwd               turbo         four           front       110.0

                            length     width  height  ...  compression-ratio  \
body-style  drive-wheels                              ...
convertible fwd           0.765497  0.891667    55.6  ...                8.5
            rwd           0.811148  0.890278    48.8  ...                9.0
hardtop     fwd           0.780394  0.886111    53.3  ...                9.4
            rwd           0.901009  0.976389    54.9  ...               21.5
hatchback   4wd           0.755887  0.886111    55.7  ...                8.7
            fwd           0.678039  0.837500    53.2  ...                9.5
            rwd           0.822681  0.909722    52.4  ...                9.0
sedan       4wd           0.848630  0.922222    54.3  ...                8.0
            fwd           0.848630  0.919444    54.3  ...               10.0
            rwd           0.849592  0.900000    54.3  ...                8.8
wagon       4wd           0.834214  0.908333    54.9  ...                9.0
            fwd           0.925997  0.991667    55.7  ...                8.5
            rwd           0.917347  0.976389    58.7  ...               21.5

                         horsepower peak-rpm  city-mpg highway-mpg    price  \
body-style  drive-wheels
convertible fwd                90.0   5500.0        24          29  11595.0
            rwd               111.0   5000.0        21          27  13495.0
hardtop     fwd                69.0   5200.0        31          37   8249.0
            rwd               123.0   4350.0        22          25  28176.0
hatchback   4wd                73.0   4400.0        26          31   7603.0
            fwd                48.0   5100.0        47          53   5151.0
            rwd               154.0   5000.0        19          26  16500.0
sedan       4wd               115.0   5500.0        18          22  17450.0
            fwd               102.0   5500.0        24          30  13950.0
            rwd               101.0   5800.0        23          29  16430.0
wagon       4wd                82.0   4800.0        23          29   8013.0
            fwd               110.0   5500.0        19          25  18920.0
            rwd               123.0   4350.0        22          25  28248.0

                          city-L/100km  horsepower-binned  diesel  gas
body-style  drive-wheels
convertible fwd               9.791667                Low       0    1
            rwd              11.190476             Medium       0    1
hardtop     fwd               7.580645                Low       0    1
            rwd              10.681818             Medium       1    0
hatchback   4wd               9.038462                Low       0    1
            fwd               5.000000                Low       0    1
            rwd              12.368421             Medium       0    1
sedan       4wd              13.055556             Medium       0    1
            fwd               9.791667             Medium       0    1
            rwd              10.217391                Low       0    1
wagon       4wd              10.217391                Low       0    1
            fwd              12.368421             Medium       0    1
            rwd              10.681818             Medium       1    0

[13 rows x 27 columns]

In [10]:
# max() will print the maximum entry of each group
style['normalized-losses'].max()
# min() will print the minimum entry of each group
style['normalized-losses'].min()

body-style
convertible    122
hardtop         93
hatchback       65
sedan           65
wagon           74
Name: normalized-losses, dtype: int64

In [11]:
# mean() will print mean of numerical column in each group
style.mean()

,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km,diesel,gas
body-style,,,,,,,,,,,,,,,,,,,
convertible,2.833333,127.333333,92.700000,0.818757,0.910880,51.433333,2801.666667,157.166667,3.491667,3.043333,8.933333,131.666667,5158.333333,20.500000,26.000000,21890.500000,11.745886,0.000000,1.000000
hardtop,1.875000,128.625000,98.500000,0.850252,0.925174,52.850000,2810.625000,176.250000,3.608750,3.322500,10.725000,142.250000,5031.250000,21.625000,27.250000,22208.500000,11.508780,0.125000,0.875000
hatchback,1.617647,130.897059,95.435294,0.799078,0.904228,52.133824,2322.852941,112.852941,3.236015,3.280312,9.042941,97.768473,5219.490727,26.602941,32.382353,9957.441176,9.434906,0.014706,0.985294
sedan,0.329787,120.893617,100.750000,0.855583,0.921070,54.387234,2625.893617,131.691489,3.345106,3.270638,10.965957,103.808511,5075.000000,25.053191,30.574468,14459.755319,10.027994,0.159574,0.840426
wagon,-0.160000,98.560000,102.156000,0.871235,0.920222,56.728000,2784.240000,123.840000,3.406400,3.175600,10.316000,98.010246,5019.014778,24.040000,28.720000,12371.960000,10.080906,0.120000,0.880000

In [12]:
# get mean of each column of specific group
style.get_group("convertible").mean()

symboling                2.833333
normalized-losses      127.333333
wheel-base              92.700000
length                   0.818757
width                    0.910880
height                  51.433333
curb-weight           2801.666667
engine-size            157.166667
bore                     3.491667
stroke                   3.043333
compression-ratio        8.933333
horsepower             131.666667
peak-rpm              5158.333333
city-mpg                20.500000
highway-mpg             26.000000
price                21890.500000
city-L/100km            11.745886
diesel                   0.000000
gas                      1.000000
dtype: float64

In [13]:
# get the number of symboling/records in each group
style['symboling'].count()

body-style
convertible     6
hardtop         8
hatchback      68
sedan          94
wagon          25
Name: symboling, dtype: int64

In [15]:
# get the number of symboling/records in each group
style['symboling'].value_counts()

body-style   symboling
convertible   3            5
              2            1
hardtop       2            4
              3            2
              0            1
              1            1
hatchback     1           26
              3           20
              2           13
              0            7
             -1            2
sedan         0           42
              1           22
              2           14
             -1           13
             -2            3
wagon         0           15
             -1            7
              1            3
Name: symboling, dtype: int64

In [18]:
# new dataframe that consist length,width,height,curb-weight and price
new_dataset = df.filter(["length","width","height","curbweight","price"],axis=1)
new_dataset

       length     width  height    price
0    0.811148  0.890278    48.8  13495.0
1    0.811148  0.890278    48.8  16500.0
2    0.822681  0.909722    52.4  16500.0
3    0.848630  0.919444    54.3  13950.0
4    0.848630  0.922222    54.3  17450.0
..        ...       ...     ...      ...
196  0.907256  0.956944    55.5  16845.0
197  0.907256  0.955556    55.5  19045.0
198  0.907256  0.956944    55.5  21485.0
199  0.907256  0.956944    55.5  22470.0
200  0.907256  0.956944    55.5  22625.0

[201 rows x 4 columns]

In [19]:
# applying single aggregation for mean over the columns
new_dataset.agg("mean", axis="rows")

length        0.837102
width         0.915126
height       53.766667
price     13207.129353
dtype: float64

In [20]:
# applying aggregation sum and minimum across all the columns
new_dataset.agg(['sum', 'min'])

         length       width   height      price
sum  168.257568  183.940278  10807.1  2654633.0
min    0.678039    0.837500     47.8     5118.0

In [22]:
# find aggregation for these columns
new_dataset.aggregate({"length":['sum', 'min'],"width":['max', 'min'],"height":['min', 'sum'],"curb-weight":['sum']})
# if any specific aggregation is not applied on a column
# then it has NaN value corresponding to it

KeyError: "Column 'curb-weight' does not exist!"