In [2]:
import requests
from bs4 import BeautifulSoup as bs
#load webpage
r=requests.get("https://keithgalli.github.io/web-scraping/webpage.html")
#covert into bs4 object
soup= bs(r.content, 'html.parser')
#print(soup)

In [8]:
links =soup.select('.socials a')
links

[<a href="https://www.instagram.com/keithgalli/">https://www.instagram.com/keithgalli/</a>,
 <a href="https://twitter.com/keithgalli">https://twitter.com/keithgalli</a>,
 <a href="https://www.linkedin.com/in/keithgalli/">https://www.linkedin.com/in/keithgalli/</a>,
 <a href="https://www.tiktok.com/@keithgalli">https://www.tiktok.com/@keithgalli</a>]

In [9]:
actual_links=[link['href'] for link in links]
actual_links

['https://www.instagram.com/keithgalli/',
 'https://twitter.com/keithgalli',
 'https://www.linkedin.com/in/keithgalli/',
 'https://www.tiktok.com/@keithgalli']

In [16]:
linku =soup.find_all('ul',attrs={"class":"socials"})
linku

[<ul class="socials">
 <li class="social instagram"><b>Instagram: </b><a href="https://www.instagram.com/keithgalli/">https://www.instagram.com/keithgalli/</a></li>
 <li class="social twitter"><b>Twitter: </b><a href="https://twitter.com/keithgalli">https://twitter.com/keithgalli</a></li>
 <li class="social linkedin"><b>LinkedIn: </b><a href="https://www.linkedin.com/in/keithgalli/">https://www.linkedin.com/in/keithgalli/</a></li>
 <li class="social tiktok"><b>TikTok: </b><a href="https://www.tiktok.com/@keithgalli">https://www.tiktok.com/@keithgalli</a></li>
 </ul>]

In [22]:
import pandas as pd
table=soup.select('table.hockey-stats')[0]
#table
columns= table.find('thead').find_all('th')
columns

[<th class="season" data-sort="">S</th>,
 <th class="team" data-sort="team">Team</th>,
 <th class="league" data-sort="league">League</th>,
 <th class="regular gp" data-sort="gp">GP</th>,
 <th class="regular g" data-sort="g">G</th>,
 <th class="regular a" data-sort="a">A</th>,
 <th class="regular tp" data-sort="tp">TP</th>,
 <th class="regular pim" data-sort="pim">PIM</th>,
 <th class="regular pm" data-sort="pm">+/-</th>,
 <th class="separator">Â </th>,
 <th class="postseason">POST</th>,
 <th class="postseason gp" data-sort="playoffs-gp">GP</th>,
 <th class="postseason g" data-sort="playoffs-g">G</th>,
 <th class="postseason a" data-sort="playoffs-a">A</th>,
 <th class="postseason tp" data-sort="playoffs-tp">TP</th>,
 <th class="postseason pim" data-sort="playoffs-pim">PIM</th>,
 <th class="postseason pm" data-sort="playoffs-pm">+/-</th>]

In [23]:
column_names=[c.string for c in columns]
column_names

['S',
 'Team',
 'League',
 'GP',
 'G',
 'A',
 'TP',
 'PIM',
 '+/-',
 '\xa0',
 'POST',
 'GP',
 'G',
 'A',
 'TP',
 'PIM',
 '+/-']

In [27]:
rows =table.find('tbody').find_all('tr')
#rows

In [34]:
l=[]
for tr in rows:
    td=tr.find_all('td')
    row=[str(tr.get_text()).strip() for tr in td ]
    l.append(row)
print(l[0])

['2014-15', 'MIT (Mass. Inst. of Tech.)', 'ACHA II', '17', '3', '9', '12', '20', '', '|', '', '', '', '', '', '', '']

In [35]:
df =pd.DataFrame(l,columns=column_names)

In [36]:
df.head()

,S,Team,League,GP,G,A,TP,PIM,+/-,,POST,GP,G,A,TP,PIM,+/-
0,2014-15,MIT (Mass. Inst. of Tech.),ACHA II,17,3,9,12,20,,|,,,,,,,
1,2015-16,MIT (Mass. Inst. of Tech.),ACHA II,9,1,1,2,2,,|,,,,,,,
2,2016-17,MIT (Mass. Inst. of Tech.),ACHA II,12,5,5,10,8,0,|,,,,,,,
3,2017-18,Did not play,,,,,,,,|,,,,,,,
4,2018-19,MIT (Mass. Inst. of Tech.),ACHA III,8,5,10,15,8,,|,,,,,,,